#container {
    
    display: flex;
    justify-content: center;
    align-self: center;
}


.board {
    width: 500px;
    height: 500px;
    background-color: rgb(233, 246, 250);
    outline: 1px solid;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    display: grid;
   
}



.grid {

    background-color: rgb(223, 246, 248);
    outline: 1px solid;
   
}

.newGrid {
    background-color:black;
}




